In [35]:
import numpy as np
import pandas as pd
from metpy.units import units
import metpy.calc

<font color="forestgreen">Formula and commands for changing temperatures from F to C

In [6]:
def fahr_to_celsius(temp_fahr):
    temp_celsius = (temp_fahr - 32) * 5 / 9
    return temp_celsius

<font color="forestgreen">Read in data file

In [7]:
data = pd.read_csv('isusm.txt',header = 0)

<font color="forestgreen">Display data

In [8]:
data.head()

,station,valid,high,low,rh_min,rh,rh_max,precip,soil04t
0,BOOI4,2017-06-01,83.390,51.188,25.67,40.910001,64.16,0.0,73.062500
1,BOOI4,2017-06-02,88.754,60.962,41.26,64.972500,91.80,0.0,76.443501
2,BOOI4,2017-06-03,91.292,63.752,30.30,58.394166,93.80,0.0,78.808249
3,BOOI4,2017-06-04,92.336,67.136,18.50,44.542917,82.40,0.0,81.718250
4,BOOI4,2017-06-05,86.162,64.706,28.75,40.124167,53.28,0.0,79.660999

<font color="forestgreen">set the index as "valid" which is the variable for the date

In [16]:
data = data.set_index('valid')

<font color="forestgreen">Convert low temps to celcius and create a new column in the chart

In [18]:
fahr_to_celsius(data["low"])

valid
2017-06-01    10.66
2017-06-02    16.09
2017-06-03    17.64
2017-06-04    19.52
2017-06-05    18.17
2017-06-06    15.40
2017-06-07    13.57
2017-06-08    15.78
2017-06-09    16.02
2017-06-10    20.51
2017-06-11    23.10
2017-06-12    22.73
2017-06-13    20.84
2017-06-14    17.95
2017-06-15    18.13
2017-06-16    18.35
2017-06-17    17.18
2017-06-18    13.41
2017-06-19    13.11
2017-06-20    14.43
2017-06-21    15.69
2017-06-22    20.24
2017-06-23    14.71
2017-06-24    10.86
2017-06-25     9.96
2017-06-26    11.76
2017-06-27    11.20
2017-06-28    18.38
2017-06-29    16.97
2017-06-30    15.96
2017-07-01    14.34
2017-07-02    16.36
2017-07-03    17.40
2017-07-04    19.30
2017-07-05    17.91
2017-07-06    20.36
2017-07-07    19.29
2017-07-08    17.09
2017-07-09    18.10
2017-07-10    18.94
2017-07-11    18.39
2017-07-12    20.69
2017-07-13    17.71
2017-07-14    14.87
2017-07-15    16.16
2017-07-16    21.50
2017-07-17    20.22
2017-07-18    22.73
2017-07-19    21.76
2017-07-20    21.28
2017-07-21    23.74
2017-07-22    22.14
2017-07-23    16.77
2017-07-24    14.94
2017-07-25    18.14
2017-07-26    20.87
2017-07-27    18.89
2017-07-28    17.87
2017-07-29    15.90
2017-07-30    15.01
Name: low, dtype: float64

In [19]:
data["low_temp_C"] = fahr_to_celsius(data["low"])

In [21]:
data.head()

,station,high,low,rh_min,rh,rh_max,precip,soil04t,low_temp_C
valid,,,,,,,,,
2017-06-01,BOOI4,83.390,51.188,25.67,40.910001,64.16,0.0,73.062500,10.66
2017-06-02,BOOI4,88.754,60.962,41.26,64.972500,91.80,0.0,76.443501,16.09
2017-06-03,BOOI4,91.292,63.752,30.30,58.394166,93.80,0.0,78.808249,17.64
2017-06-04,BOOI4,92.336,67.136,18.50,44.542917,82.40,0.0,81.718250,19.52
2017-06-05,BOOI4,86.162,64.706,28.75,40.124167,53.28,0.0,79.660999,18.17

<font color="forestgreen">Repeat for high temperatures

In [22]:
fahr_to_celsius(data["high"])

valid
2017-06-01    28.55
2017-06-02    31.53
2017-06-03    32.94
2017-06-04    33.52
2017-06-05    30.09
2017-06-06    28.07
2017-06-07    28.50
2017-06-08    30.59
2017-06-09    32.04
2017-06-10    33.72
2017-06-11    34.32
2017-06-12    31.56
2017-06-13    33.15
2017-06-14    29.44
2017-06-15    32.92
2017-06-16    30.72
2017-06-17    28.14
2017-06-18    24.88
2017-06-19    27.63
2017-06-20    31.72
2017-06-21    31.97
2017-06-22    30.19
2017-06-23    23.40
2017-06-24    25.15
2017-06-25    22.89
2017-06-26    22.72
2017-06-27    25.27
2017-06-28    28.66
2017-06-29    28.07
2017-06-30    26.91
2017-07-01    26.58
2017-07-02    29.23
2017-07-03    32.22
2017-07-04    31.40
2017-07-05    32.47
2017-07-06    32.71
2017-07-07    29.35
2017-07-08    30.32
2017-07-09    32.80
2017-07-10    30.16
2017-07-11    32.99
2017-07-12    31.85
2017-07-13    28.32
2017-07-14    27.83
2017-07-15    32.93
2017-07-16    31.77
2017-07-17    31.62
2017-07-18    31.23
2017-07-19    34.44
2017-07-20    35.91
2017-07-21    29.70
2017-07-22    30.37
2017-07-23    28.42
2017-07-24    26.84
2017-07-25    32.40
2017-07-26    26.41
2017-07-27    28.97
2017-07-28    29.25
2017-07-29    27.82
2017-07-30    27.53
Name: high, dtype: float64

In [25]:
data["high_temp_C"] = fahr_to_celsius(data["high"])

In [26]:
data.head()

,station,high,low,rh_min,rh,rh_max,precip,soil04t,low_temp_C,high_temp_C
valid,,,,,,,,,,
2017-06-01,BOOI4,83.390,51.188,25.67,40.910001,64.16,0.0,73.062500,10.66,28.55
2017-06-02,BOOI4,88.754,60.962,41.26,64.972500,91.80,0.0,76.443501,16.09,31.53
2017-06-03,BOOI4,91.292,63.752,30.30,58.394166,93.80,0.0,78.808249,17.64,32.94
2017-06-04,BOOI4,92.336,67.136,18.50,44.542917,82.40,0.0,81.718250,19.52,33.52
2017-06-05,BOOI4,86.162,64.706,28.75,40.124167,53.28,0.0,79.660999,18.17,30.09

<font color = 'forestgreen'>Define variables for low temp and high temp in celius

In [50]:
low_temp_C = fahr_to_celsius(data["low"])*units.degC

In [51]:
high_temp_C = fahr_to_celsius(data["high"])*units.degC

<font color="forestgreen">Calculate average temperature, create new column, and display new chart

In [66]:
temp_avg_C = (low_temp_C[:] + high_temp_C[:])/2
data['temp_avg_C']= temp_avg_C
data.head()

,station,high,low,rh_min,rh,rh_max,precip,soil04t,low_temp_C,high_temp_C,temp_avg_C
valid,,,,,,,,,,,
2017-06-01,BOOI4,83.390,51.188,25.67,40.910001,64.16,0.0,73.062500,10.66,28.55,19.605
2017-06-02,BOOI4,88.754,60.962,41.26,64.972500,91.80,0.0,76.443501,16.09,31.53,23.810
2017-06-03,BOOI4,91.292,63.752,30.30,58.394166,93.80,0.0,78.808249,17.64,32.94,25.290
2017-06-04,BOOI4,92.336,67.136,18.50,44.542917,82.40,0.0,81.718250,19.52,33.52,26.520
2017-06-05,BOOI4,86.162,64.706,28.75,40.124167,53.28,0.0,79.660999,18.17,30.09,24.130

<font color = "forestgreen">Turn temp average into an array so that sat. vap. pressure can be calculated

In [67]:
temp_avg_C = np.array(temp_avg_C)

<font color="forestgreen">Ensure temp avg is in celsius

In [68]:
temp_avg_C = temp_avg_C *units.degC

<font color="forestgreen">Calculate sat. vap. press.

In [69]:
metpy.calc.saturation_vapor_pressure(temp_avg_C)

array([22.80354556, 29.49341776, 32.22668052, 34.66436334, 30.06653895,
       26.00381823, 24.91119909, 28.40157216, 29.88640009, 35.90036177,
       39.40566885, 35.96368842, 35.64802896, 29.28980197, 32.68046861,
       30.8058604 , 27.51195392, 22.15968338, 23.91071992, 28.21311713,
       29.52895545, 32.08301997, 22.03559437, 20.63233034, 18.668627  ,
       19.6599923 , 20.93280872, 28.98231394, 27.27888637, 25.53051328,
       24.04402613, 27.73834834, 31.31689553, 32.34201394, 32.03525781,
       34.69505965, 30.41142352, 29.30745868, 32.53503903, 30.83354561,
       33.00241729, 34.15624304, 28.11078596, 25.39779114, 30.82431479,
       34.9003099 , 33.4558227 , 35.61659664, 38.03129705, 39.14329679,
       35.07560662, 34.12596406, 27.40352788, 24.68997398, 32.18831611,
       29.19285646, 29.707207  , 29.05234652, 26.20328784, 25.27342927]) <Unit('millibar')>

<font color="forestgreen">Create new column for sat. vap. press.

In [70]:
data['Saturation Vapor Pressure']= metpy.calc.saturation_vapor_pressure(temp_avg_C)

In [71]:
data.head()

,station,high,low,rh_min,rh,rh_max,precip,soil04t,low_temp_C,high_temp_C,temp_avg_C,Saturation Vapor Pressure
valid,,,,,,,,,,,,
2017-06-01,BOOI4,83.390,51.188,25.67,40.910001,64.16,0.0,73.062500,10.66,28.55,19.605,22.803546
2017-06-02,BOOI4,88.754,60.962,41.26,64.972500,91.80,0.0,76.443501,16.09,31.53,23.810,29.493418
2017-06-03,BOOI4,91.292,63.752,30.30,58.394166,93.80,0.0,78.808249,17.64,32.94,25.290,32.226681
2017-06-04,BOOI4,92.336,67.136,18.50,44.542917,82.40,0.0,81.718250,19.52,33.52,26.520,34.664363
2017-06-05,BOOI4,86.162,64.706,28.75,40.124167,53.28,0.0,79.660999,18.17,30.09,24.130,30.066539